<?php

use YourModule\Entity\YourEntity;
use FwsDoctrineCrypt\Model\Crypt;

return [
    'doctrineCrypt' => [
        /** Use one of Crypt::CRYPT_BLOCKCIPHER or Crypt::RSA
        * @see https://docs.laminas.dev/laminas-crypt/block-cipher/
        * @see https://docs.laminas.dev/laminas-crypt/public-key/#rsa
        */
        'encryptionMethod' => Crypt::CRYPT_BLOCK_CIPHER,
        // for Block Cipher encryption
        'encryptionKey' => 'your_encryption_key',
        // for RSA encryption
        'rsaPrivateKeyFile' => 'rsa/key.pem', // <- path and filename of your rsa private key @see https://docs.rightscale.com/faq/How_Do_I_Generate_My_Own_SSH_Key_Pair.html
        'rsaPublicKeyFile' => 'rsa/key.pub', // <- path and filename of your rsa public key
        'rsaKeyPassphrase' => 'YourPassphrase', // Optional passphrase used when creating the above keys
        'entities' => [
            [
                'class' => YourEntity::class,
                'properties' => [
                    'firstProperty',
                    'secondProperty',
                    // ...
                ],
            ],
            // ...
        ],
    ],
];