<?php

use YourModule\Entity\YourEntity;
use ParagonIE\CipherSweet\Backend;

return [
    'doctrine-crypt' => [
        'cipherSweet' => [
            'engine' => Backend\BoringCrypto::class, // <- Ciphersweet engine to use
                        // ParagonIE\CipherSweet\Backend\BoringCrypto or ParagonIE\CipherSweet\Backend\FIPSCrypto
            'encryptionKey' => 'your_encryption_key', // <- use a raw binary string, hex-encoded string, or base64url-encoded string
                        // you can use Hex::encode(random_bytes(32)) to generate a random key
        ],
        'cache_dir' => '/tmp/cache', // <- Your application cache directory
    ],
];